<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
 <script>
  $( function() {
    var availableTags = [
'360fly - 1/4-20 Tripod Adapter - Black','ADJ - 1 O-Clamp - Gray','ADJ - 1.5 O-Clamp - Black','ADJ - 48 Black Light - Black','ADOPTED - Back Cover for Apple iPhone 6 Plus and 6s Plus - Black, Gold','ADOPTED - Back Cover for Apple iPhone 6 and 6s - Black, Gold','ADOPTED - Back Cover for Apple iPhone 6 and 6s - Gold, Blush','ADOPTED - Soho Sleeve for Microsoft Surface and Most Tablets Up to 12 - Black/Gunmetal','ADOPTED - Soho Sleeve for Most Tablets Up to 10 - Ash Gray/Gold','ADOPTED - Soho Sleeve for Most Tablets Up to 10 - Black/Gunmetal'
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>
 
 
</body>
</html>