<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Autocomplete Demo</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <script>
      $(function() {

        var availableTags = [];
        var i = 0;

        <%- books %>.forEach(function(book) {
          availableTags[i] = book.title;
          i++;
        });
        $( "#tags" ).autocomplete({
          source: function(request, response) {
            var results = $.ui.autocomplete.filter(availableTags,request.term);
            response(results.slice(0, 10));
          }
        });
      });
    </script>
    <div class="ui-widget">
      <label for="tags">Search: </label>
      <input id="tags">
    </div>
  </body>
</html>