<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Autocomplete Demo</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
      <script>
      $(function() {
        var availableTags = [];
        var i = 0;
        <%- books %>.forEach(function(book) {
          availableTags[i] = book.title;
          i++;
        });

        // Create the list element:
        var list = document.createElement('ul');

        for(var j = 0; j < availableTags.length; j++) {
          // Create the list item:
          var item = document.createElement('li');

          // Set its contents:
          item.appendChild(document.createTextNode(availableTags[j]));

          // Add it to the list:
          list.appendChild(item);
        }

        document.getElementById('matches').appendChild(list);
        document.getElementById('tags').focus();
        document.getElementById('tags').value = "<%- value %>";
        /*
        $( "#tags" ).autocomplete({
          source: availableTags
        });
        */
      });

      function getMatches() {
        window.location = ("/books/search/" + document.getElementById("tags").value);
        //document.getElementById('foo').appendChild(makeUL(options[0]));
      }
    </script>
    <br>
    <div class="ui-widget">
      <label for="tags" name="label">Search for Products: </label>
      <input id="tags" type="text" name="tags" onkeyup="getMatches();" autofocus="autofocus">
      <div id="matches"></div>
    </div>
  </body>
</html>